* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* //// CSS Variables //// */

/* //// GLOBAL STYLES //// */

body {
  background-color: #0a0a0a;
}

.global {
  /* max-width: 1600px; */

  transition: all 400ms;
}
.dark__mode {
  /* off-white color */
  /* color: rgb(210, 210, 210); */
  color: #fff;
  background-color: #0a0a0a;
  /* Linear / Radial Gradient? */
}

.light__mode {
  /* off-white color */
  color: #0a0a0a;
  /* background-color: rgb(255, 247, 234); */
  background-color: #fff;
  /* background-color: rgb(240, 229, 211); */
  /* Linear / Radial Gradient? */
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

a {
  color: #fff;
  text-decoration: none;
}
.a__dark {
  color: #fff;
  text-decoration: none;
}
.a__dark:hover {
  color: #c0c0c0;
  text-decoration: none;
}

.a__light {
  color: #0a0a0a;
  text-decoration: none;
}
.a__light:hover {
  color: #c0c0c0;
  text-decoration: none;
}

/* //// TEXT //// */
/* primary, secondary, description */
/* seconday: 
  gray: color: #c0c0c0;? 
*/
.secondary {
}
