/*
============================== 
StyleSheet Table of Contents
==============================
- CSS Variables
- Global Styles
- NavBar (Component)
- Main Content
- Landing Page Content
- Public Home Page Content
- Footer

*/

/*
=============== 
CSS Variables
===============
*/

:root {
  /* DARK THEME */
  --rc-dark-theme: hsl(0, 0%, 15%);

  /* dark shades of primary color*/
  --rc-primary-1: hsl(205, 86%, 17%);
  --rc-primary-2: hsl(205, 77%, 27%);
  --rc-primary-3: hsl(205, 72%, 37%);
  --rc-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --rc-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --rc-primary-6: hsl(205, 89%, 70%);
  --rc-primary-7: hsl(205, 90%, 76%);
  --rc-primary-8: hsl(205, 86%, 81%);
  --rc-primary-9: hsl(205, 90%, 88%);
  --rc-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --rc-grey-1: hsl(209, 61%, 16%);
  --rc-grey-2: hsl(211, 39%, 23%);
  --rc-grey-3: hsl(209, 34%, 30%);
  --rc-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --rc-grey-5: hsl(210, 22%, 49%);
  --rc-grey-6: hsl(209, 23%, 60%);
  --rc-grey-7: hsl(211, 27%, 70%);
  --rc-grey-8: hsl(210, 31%, 80%);
  --rc-grey-9: hsl(212, 33%, 89%);
  --rc-grey-10: hsl(210, 36%, 96%);
  --rc-white: #fff;
  --rc-white-transparent: rgba(255, 255, 255, 0.4);
  --rc-red-dark: hsl(360, 67%, 44%);
  --rc-red-light: hsl(360, 71%, 66%);
  --rc-red-orange: hsl(0, 100%, 67%);
  --rc-green-dark: hsl(125, 67%, 44%);
  --rc-green-light: hsl(125, 71%, 66%);
  --rc-green-dark2: hsl(104, 20%, 49%);
  --rc-green-light2: hsl(75, 47%, 66%);
  --rc-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}


/*
=========================== 
CSS KeyFrame Animations
===========================
*/


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
/* INCLUDE THIS IN ANIMATED CLASS */
  /* animation: 1.75s ease-in-out slideInFromLeft; */


/*
=============== 
Global Styles
===============
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #0a0a0a;
}

a {
  color: #fff;
  text-decoration: none;
}

.global {
  transition: all 400ms;
}
.dark__mode {
  color: #fff;
  background-color: var(--clr-dark-theme);
}

.light__mode {
  color: #0a0a0a;
  background-color: #fff;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.a__dark {
  color: #fff;
  text-decoration: none;
}
.a__dark:hover {
  color: #c0c0c0;
  text-decoration: none;
}

.a__light {
  color: #0a0a0a;
  text-decoration: none;
}
.a__light:hover {
  color: #c0c0c0;
  text-decoration: none;
}

/*
=============== 
Hero Section
===============
*/

/*
=============== 
Intro Section
===============
*/

.intro__section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem 0rem;

  min-height: 300px;
}
.intro__section > h2 {
  margin-bottom: 1rem;
}
.intro__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
